@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
       --main-clr: rgb(255, 187, 0);
       --second-clr: gray;
       --third-clr: rgb(149 120 62);
       --hover-clr: #fff;
       --bg-clr: rgb(18, 18, 29);
       --fw300: 300;
       --fw400: 400;
       --fw700: 700;
}

* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       text-decoration: none !important;
       list-style: none !important;
       border: none !important;
       outline: none !important;
       scroll-behavior: smooth !important;
       font-family: "Rubik", sans-serif;
}


ul {
       margin-top: 0 !important;
       margin-bottom: 0 !important;
       padding-left: 0 !important;
}

body {
       /* position: relative; */
       overflow-x: hidden;
       background-color: #fff !important;
}

body::-webkit-scrollbar {
       width: 0.4rem;
}

body::-webkit-scrollbar-track {
       background-color: #fff;
}

body::-webkit-scrollbar-thumb {
       background-color: var(--main-clr);
       border-radius: 10px;
}


/* Section loading Page */
#loading {
       position: fixed;
       display: flex;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       text-align: center;
       align-items: center;
       background-color: #fff;
       justify-content: center;
       z-index: 10000;
}

#loading-image {
       /* width: 20%; */
       height: 20%;
}

/* Seciton socail Bar */
.socailBar {
       position: fixed;
       top: 50%;
       right: 0;
       -webkit-transform: translateY(50%);
       -ms-transform: translateY(-50%);
       transform: translateY(-50%);
       box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
       border-radius: 15px 0px 0 15px;
       background-color: var(--main-clr);
       z-index: 10;
}

.socailBar a {
       display: block;
       text-align: center;
       padding: 10px;
       transition: all 0.3s ease;
       font-size: 25px;
       color: #000 !important;
}

.socailBar a:hover {
       color: #fff;
}

.scoailPhone {
       color: black;
       padding-top: 10px;
       padding-bottom: 10px;
}

.scoailWhatsapp {
       color: black;
       border-top: 0.5px solid rgba(0, 0, 0, 0.05);
       border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
       padding-top: 10px;
       padding-bottom: 10px;
}

.scoailGraduation {
       color: black;
       padding-top: 10px;
       padding-bottom: 10px;
}

/* Header Page */
header {
       width: 100%;
       overflow: hidden;
       display: flex;
       align-items: flex-start;
       justify-content: center;
       flex-wrap: wrap;
       row-gap: 10px;
       column-gap: 50px;
       background: var(--bg-clr);
       color: #fff;
       font-size: 14px;
       padding: 10px 25px;
}

.sociaLink ul {
       display: flex;
       align-items: center;
       justify-content: space-between;
       column-gap: 20px;
}

.sociaLink ul li a>i {
       font-size: 15px;
       color: var(--main-clr);
       transition: all 0.3s ease-in-out;
}

.sociaLink ul li a:hover i {
       color: var(--hover-clr);
}

.emailCom span>i,
.phoneCom span>i {
       margin-right: 0.5rem;
}

/* Nav Page */
nav {
       position: sticky;
       top: 0;
       z-index: 300;
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: #fff;
       box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2) !important;
}

nav .wrapperNav {
       width: 90%;
       display: flex;
       align-items: center;
       justify-content: flex-start;
       column-gap: 50px;
       margin: 10px 0 !important;
}

nav .wrapperNav .logoPage {
       width: 35%;
}

nav .wrapperNav .logoPage a img {
       height: 55px;
       vertical-align: middle;
       border-style: none;
       /* opacity: ; */
}

nav .wrapperNav .linksPage {
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: flex-end;
}

nav .wrapperNav .linksPage>span i {
       font-size: 2.3rem;
       color: var(--third-clr);
       cursor: pointer;
}

nav .menuMobil {
       position: absolute;
       width: 100%;
       bottom: -255%;
       right: 100%;
       border-radius: 0 0 15px 15px;
       background-color: var(--third-clr);
       display: flex;
       flex-direction: column;
       align-items: center;
       row-gap: 10px;
       padding: 10px 0;
       z-index: 100;
       transition: all 0.5s ease-in-out;
       overflow: hidden;
}

nav .menuMobil li a {
       color: #fff;
       width: auto;
       font-size: 1.1rem;
       transition: all 0.4s ease-in-out;
}

nav .menuMobil li a:hover {
       color: var(--bg-clr);
}

nav .menuTap {
       display: none;
}


/* Container Wrapper Page */
.containerr {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       overflow: hidden !important;
}

/* Title page */
.titlePage span {
       position: relative;
       font-size: 2.5rem;
       font-weight: 500;
       color: #000;
       padding-bottom: 6px !important;

}

.titlePage span::after {
       content: "";
       position: absolute;
       bottom: 0;
       left: 0;
       width: 70px;
       height: 6px;
       border-radius: 10px;
       background-color: var(--main-clr);
       transition: all 0.4s ease-in-out;
}

.titlePage span:hover::after {
       width: 100%;
}

/* Content About Section */
.contentAboutSec .contentSec {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: flex-start;
       row-gap: 20px;
}

.contentAboutSec .contentSec .leftSec {
       width: 100%;
       text-align: left;
       font-size: 120%;
       line-height: 140%;
}

.contentAboutSec .contentSec .rightSec {
       width: 100%;
}

.contentAboutSec .contentSec .rightSec img {
       width: 100%;
       height: 480px;
       border-radius: 15px;
       border: 4px solid var(--main-clr) !important;
       object-fit: cover;
       object-position: right;
}

/* ##### */
.contentAboutSec,
.contentMissionSec,
.contentServicesSec {
       width: 90%;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       margin-top: 20px;
       row-gap: 20px;
}

/* Content Mission Section */
.contentMissionSec>p {
       width: 100%;
       text-align: left;
       font-size: 130%;
       line-height: 150%;
}


.contentMissionSec>p::first-letter {
       color: var(--main-clr);
       font-size: 140%;
       font-weight: 500;
}

/* Services Section */
.contentServicesSec>p {
       width: 100%;
       padding: 0 20px;
       text-align: center;
       font-size: 130%;
       font-weight: 500;
       line-height: 150%;
}

.contentServicesSec .contentServices {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: flex-start;
       row-gap: 20px;
}

.contentServicesSec .contentServices .leftSec {
       width: 100%;
       text-align: left;
       font-size: 120%;
       line-height: 140%;
}

.contentServicesSec .contentServices .rightSec {
       width: 100%;
}

.contentServicesSec .contentServices .rightSec img {
       width: 100%;
       /* height: 300px; */
       border-radius: 15px;
       border: 4px solid var(--main-clr) !important;
       object-fit: cover;
       object-position: center;
}

.contentServicesSec .moreContent {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: flex-start;
}

.contentServicesSec .moreContent>p {
       width: 100%;
       text-align: left;
       font-size: 110%;
       line-height: 140%;
}

.contentServicesSec .moreContent>p::first-letter {
       color: var(--main-clr);
       font-size: 140%;
       font-weight: 500;
}

/* Google Reviews Section*/
.reviewSec {
       width: 90%;
       margin-top: 20px;
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
       padding: 3rem 0;
}

.reviewSec .leftReviewSec {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       row-gap: 10px;
}

.reviewSec .leftReviewSec span {
       font-weight: 500;
}

.reviewSec .leftReviewSec span:nth-child(1) {
       font-size: 2.5rem;
       font-weight: 500;
}

.reviewSec .leftReviewSec ul {
       display: flex;
       align-items: center;
       justify-content: space-between;
       column-gap: 8px;
}

.reviewSec .leftReviewSec ul li>i {
       font-size: 2.2rem;
       font-weight: 900;
       color: var(--main-clr);
}

.reviewSec .leftReviewSec img {
       height: 50px;
}

.reviewSec .rightReviewSec {
       margin-top: 30px;
       cursor: grab;
}

.splide__slide .cardd {
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       row-gap: 10px;
}

.splide__slide .cardd .headCard {
       text-align: center;
}

.splide__slide .cardd .cardTitle {
       width: 20%;
       text-align: center;
}

.reviewSec .splide__pagination {
       bottom: -0.5em !important;
}

.reviewSec .splide__pagination__page.is-active {
       background-color: var(--main-clr) !important;
}

.reviewSec .splide__slide .cardd .headCard img {
       height: 100px;
       width: 100px;
       border-radius: 50%;
       object-fit: cover;
       object-position: center;
       padding: 2px;
       border: 3px solid var(--main-clr) !important;
}

/* FAQ Section*/
.faqSec {
       padding-right: 15px !important;
       padding-left: 15px !important;
}

.card-header {
       background-color: #fff !important;
       border: 1px solid var(--main-clr) !important;
}

.card-header:first-child {
       border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}


/* Footer Section*/
.footerSec {
       background-color: var(--bg-clr);
       min-height: 50px;
}

.footerAddressIcon,
.footerMoileIcon,
.footerEmailIcon {
       color: var(--second-clr);
       padding-top: 15px;
       margin: 0px;
       font-size: 25px;
       margin-top: 5px !important;
}

.footerAddress,
.footerMoile,
.footerEmail {
       color: var(--second-clr);
       line-height: 25px;
       padding-top: 20px;
       margin: 0px;
}

/* ##### */
.pageLink {
       display: flex;
       flex-direction: column;
       row-gap: 10px;
       color: var(--second-clr);
       margin: 0px;
       padding: 0;
       margin-top: 5px !important;
       cursor: pointer;
}

.pageLink li {
       color: var(--second-clr);
       padding-top: 8px;
       font-size: 16px;
       transition: color .2s ease-in-out;
}

.pageLink a:hover li {
       color: #fff;
}

/* ########## */
.footerSec .footerWrapper {
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: flex-start;
       column-gap: 80px;
       padding: 0 20px;
}

.footerSec .subSocialink {
       float: left;
       list-style: none;
       margin: 0px;
       padding: 0px;
       color: var(--main-clr);
}

.footerSec .subSocialink li {
       display: inline-block;
       font-size: 25px;
       color: inherit;
       margin: 0px;
       cursor: pointer;
}

.footerSec .subSocialink li a>i {
       margin-right: 1rem;
       transition: all 0.3s ease-in-out;
}

.footerSec .subSocialink li a>i:hover {
       color: var(--hover-clr);
}


.copyright {
       text-align: center;
       color: #cacaca;
       font-size: 15px;
}

/* Mobil Screen  */
@media (min-width:850px) {}

/* Tablet Screen  */
@media (min-width:990px) {

       /* Header */
       header {
              padding: 20px 25px;
       }

       /* Nav Bar && menuMobil */
       .menuMobil,
       .showMenu {
              display: none;
       }

       nav .wrapperNav .linksPage {
              justify-content: flex-start;
       }

       nav .wrapperNav .linksPage .menuTap {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              column-gap: 8%;
       }

       nav .wrapperNav .linksPage .menuTap li {
              /* background: var(--main-clr); */
              position: relative;
              padding: 5px 2px;
       }

       .activeTap {
              position: relative;
       }

       .activeTap::before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 4px;
              border-radius: 6px;
              background-color: var(--main-clr);
       }

       nav .wrapperNav .linksPage .menuTap li::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              width: 0;
              height: 4px;
              border-radius: 6px;
              background-color: var(--main-clr);
              transition: all 0.4s ease-in-out;
       }

       nav .wrapperNav .linksPage .menuTap li:hover::after {
              width: 100%;
       }

       nav .wrapperNav .linksPage .menuTap li a {
              color: #000;
              font-size: 1.2rem;
       }

       /* Content About Section */
       .contentAboutSec .contentSec {
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              column-gap: 20px;
       }

       .contentAboutSec .contentSec .leftSec {
              width: 50%;
              text-align: left;
              font-size: 140%;
              line-height: 140%;
       }

       .contentAboutSec .contentSec .rightSec {
              width: 50%;
       }

       .contentAboutSec .contentSec .rightSec img {
              width: 100%;
              /* height: 300px; */
              border-radius: 15px;
              border: 4px solid var(--main-clr) !important;
              object-fit: cover;
              object-position: center;
       }

       /* Content Mission Section */
       .contentMissionSec .contentMission {
              flex-wrap: wrap;
              flex-direction: row;
              align-items: flex-start;
              justify-content: center;
              column-gap: 70px;
       }

       .contentMissionSec .contentMission>p {
              width: 40%;
              text-align: left;
              font-size: 110%;
              line-height: 140%;
       }

       /* Services Section */
       .contentServicesSec .contentServices {
              width: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              column-gap: 20px;
       }

       .contentServicesSec .contentServices .leftSec {
              width: 50%;
              text-align: left;
              font-size: 140%;
              line-height: 140%;
       }

       .contentServicesSec .contentServices .rightSec {
              width: 50%;
       }

       .contentServicesSec .contentServices .rightSec img {
              width: 100%;
              height: 410px;
              border-radius: 15px;
              border: 4px solid var(--main-clr) !important;
              object-fit: inherit;
              object-position: center;
       }

       .contentServicesSec .moreContent>p {
              text-align: left;
              font-size: 130%;
              line-height: 140%;
       }

       /* Review Section */
       .reviewSec {
              justify-content: space-between;
       }

       .reviewSec .leftReviewSec {
              width: 30%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              row-gap: 10px;
       }

       .reviewSec .rightReviewSec {
              margin-top: 30px;
              width: 70%;
       }

       .splide__slide .cardd {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              row-gap: 10px;
              overflow: hidden;
       }

       .splide__slide .cardd .headCard {
              text-align: center;
       }

       .splide__slide .cardd .cardTitle {
              text-align: center;
              width: 95%;
       }

       .reviewSec .splide__pagination {
              bottom: -0.5em !important;
       }

       .reviewSec .splide__pagination__page.is-active {
              background-color: var(--main-clr) !important;
       }

       .reviewSec .splide__slide .cardd .headCard img {
              height: 100px;
              width: 100px;
              border-radius: 50%;
              object-fit: cover;
              object-position: center;
              padding: 2px;
              border: 3px solid var(--main-clr) !important;
       }

}

/* Laptop Screen  */
@media (min-width:1400px) {}